.titleTheme{
    background-color: #4b7db3;
    min-width: inherit;
    min-height: 50px;
    color: white;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-size: larger;
}

.titleTheme:hover{
    cursor: pointer;
    background-color: #78a2cf;
    height: 10px;
}

